@charset "utf-8";
@import "normalize";


$orange: #DF761E;
$lightorange: #ECC561;
$darkblue: #35485F;

body {
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-top: 11em;
  background-color: $darkblue;
  color: white;
}

h1, h2, h3, h4, h5 , h6 {
	font-family: 'Lato', sans-serif;
  color: #CCCCCC;
}

p {
  font-size: 1.5em;
  line-height: 200%;
}

.container {
  margin-top: 16em;
}

header {
  h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 2.75em;
    color: $lightorange;
    margin-top: 2.75em;

  }
}

.profile-pic {
  img {
    position: absolute;
    top: 7em;
    left: 45%;
    border-radius: 50%;
    height: 15em;
    width: 15em;
    box-shadow: 0px 0px 3px 1px #fff;
  }
}

.row {
    margin-right: 0px;
    margin-left: 20px;
}

// ----------------------------Navigation------------------

.navbar {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  background-color: $darkblue;
  border-bottom-color: $lightorange;

  ul {
   display: inline-block;
   position: relative;
   top: 1em;

   li {
     display: inline-block;
     margin: 0 0.9em;
     a {
       display: inline-block;
       text-decoration: none;
       font-family: 'Lato', sans-serif;
       color: #fff;
       font-size: 1em;
       letter-spacing: 0.09em;
       font-weight: bold;
       transition: all 0.2s ease;
       &:hover {
         color: $lightorange;
       }
     }
   }
 }
  li.active  {
   border-bottom: 2px solid $lightorange;
 }
}



// ----------------------Project section-----------------

section.active {}

.thumbnail {
        position: relative;
        padding: 0px;
        margin-bottom: 20px;
    }

.thumbnail:hover {
    background-color: $lightorange;
}

.thumbnail img {
       width: 100%;
   }


// ---------------------Contact section------------------
.main3 {

  li {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }

  .row {
    padding-bottom: 4em;
  }

  .fa {
    color: $lightorange;
    &:hover {
    }
  }
  a {
    text-decoration: none;
      color: #CCCCCC;
      display: inline-block;

    &:hover{
      color: #EFEFEB;
      -webkit-transform: scale(1.1);
    }
}

  .main3-text.first {
    padding-left: 2em;
  }
  .main3-text {
    position: relative;
    padding-left: 1.5em;
    top: -1em;
  }
}
