@charset "utf-8";
@import "normalize";

$orange: #DF761E;
$lightorange: #ECC561;
$floralwhite: #fdf9ef;
$primary: #302D2E;
$secondary: #F9C706;


body {
  background: $floralwhite;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-top: 11em;
}

h1, h2, h3, h4, h5 , h6 {
	font-family: 'Lato', sans-serif;
  color: #302D2E;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #35485F;
	p, article{
		color: white;
	}
}

header {
  width: 11.445em;
  margin: 0 auto 0 10%;
  padding-top: 0.1em;


  h1 {
    display: inline-block;
    font-weight: lighter;
    font-size: 2.5em;

  }
}

article {
  font-size: 1.15em;
  line-height: 1.4em;
  color: lighten(black, 25%);
  transition: all 0.3s ease;
  text-align: left;
}

.in-home {
  padding: 2em;
}

.project-article {
  padding: 2em;
}

.profile-pic {
  img {
    animation: fadeIn 4s;
    position: absolute;
    top: 2em;
    center: 5.2em;
    border-radius: 50%;
    height: 15em;
    width: 15em;
    box-shadow: 0px 0px 3px 1px #fff;
    transition: all 0.5s ease;
  }
}

.row {
    margin-right: 0px;
    margin-left: 20px;
}

.main2 {

  min-height: 85vh;

  .go-to {
    position: relative;
    display: flex;
    margin: 0 auto;
    a {
      margin: 0 auto;
    }

    top: -2.5em;
    left: 2.5em;
    font-size: 2em;
    color: white;
    z-index: -1;
  }
  img {
    max-width: 330px;
    max-height: 103px;
    margin: 0 auto;
    margin-bottom: 0.75em;
    border-radius: 0.75em;
    cursor: pointer;
  }
  article {
  padding-bottom: 2em;
  font-size: 0.95em;
  }
}

.img-responsive {
  display: inline-block;
    max-width: 85%;
}

.main3 {
  li {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
}

.main3 {
  .row {
    margin: 0 auto;
    padding-left: 2em;
    div {
      padding-bottom: 2em;
    }
  }

  .fa {
    color: $lightorange;
    &:hover {
    }
  }
  a {
    text-decoration: none;
      color: $primary;
      display: inline-block;

    &:hover{
      color: $secondary;
      -webkit-transform: scale(1.1);
    }

  }
  .main3-text.first {
    padding-left: 2em;
  }
  .main3-text {
    position: relative;
    padding-left: 1.5em;
    top: -1em;
  }
}
