@charset "utf-8";
@import "normalize";

$orange: #DF761E;
$lightorange: #ECC561;
$floralwhite: #fdf9ef;
$primary: #302D2E;
$secondary: #F9C706;


body {
  background: $floralwhite;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-top: 11em;
}

h1, h2, h3, h4, h5 , h6 {
	font-family: 'Lato', sans-serif;
  color: #302D2E;
}

body {
  font-family: 'Lato', sans-serif;
	p, article{
		color: $primary;
	}
}

.logo {
  position: relative;
  color: #fff;
  font-size: 1.5em;
  top: 1em;
}

.navbar {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  background-color: $orange;
  .underline {
    animation: fadeIn 3s;
    top: 0.8em;
    height: 3px;
    width: 3em;
    background-color: #ECC561;
    transition: all 0.15s ease-out;
  }
  ul {
   display: inline-block;
   position: relative;
   top: 1em;

   .home {
     animation-duration: 1s;
   }
   .projects {
     animation-duration: 0.5s;
   }
   .contact {
     animation-duration: 0.2s;

   }
   li {
     animation: slideIn;
     display: inline-block;
     margin: 0 0.9em;
     a {
       display: inline-block;

       text-decoration: none;
       font-family: 'Lato', sans-serif;
       color: #fff;
       font-size: 0.9em;
       letter-spacing: 0.09em;
       &:hover {
         color: #ECC561;
         -webkit-transform: scale(1.1);
       }
     }
   }
 }
}

header {
  width: 11.445em;
  margin: 0 auto 0 10%;
  padding-top: 0.1em;


  h1 {
    display: inline-block;
    font-weight: lighter;
    font-size: 2.5em;

  }
}

article {
  font-size: 1.15em;
  line-height: 1.4em;
  color: lighten(black, 25%);
  transition: all 0.3s ease;
  text-align: left;
}

.in-home {
  padding: 2em;
}

.project-article {
  padding: 1em 0em;
}

.profile-pic {
  img {
    position: absolute;
    top: 8.8em;
    right: 3.2em;
    border-radius: 8%;
    height: 4em;
    width: 4em;
    box-shadow: 0px 0px 3px 1px #777;
  }
}

.row {
    margin-right: 0px;
    margin-left: 20px;
}

.project {

  min-height: 85vh;

  .go-to {
    position: relative;
    display: flex;
    margin: 0 auto;
    a {
      margin: 0 auto;
    }

    top: -2.5em;
    left: 2.5em;
    font-size: 2em;
    color: white;
    z-index: -1;


  }
  img {
    max-width: 330px;
    max-height: 103px;
    margin: 0 auto;
    margin-bottom: 0.75em;
    border-radius: 0.75em;
    cursor: pointer;
  }
  article {
  padding-bottom: 2em;
  font-size: 0.95em;
}
}

.img-responsive {
  display: inline-block;
    max-width: 85%;
}

.contact {
  li {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
}

.contact{
  .row {
    margin: 0 auto;
    padding-left: 2em;
    div {
      padding-bottom: 2em;
    }
  }


  .fa {
    color: $lightorange;
    &:hover {
    }
  }
  a {
    text-decoration: none;
      color: $primary;
      display: inline-block;

    &:hover{
      color: $secondary;
      -webkit-transform: scale(1.1);
    }

  }
  .contact-text.first {
    padding-left: 2em;
  }
  .contact-text {
    position: relative;
    padding-left: 1.5em;
    top: -1em;
  }
}
